<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Crazelu/copybear/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>H/HeOLKpxvm+oRe1yow2XhzkQoU8hnXkXjcy6pQRocY=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
